.slider {
    position: relative;
    -webkit-appearance: none;
    height: 5px;
    outline: none;
    background: #6c6d69;
    bottom: 3px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: rgb(250, 250, 250);
    cursor: pointer;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    
}

.btn {
    position:relative;
    left: 15px;
    top: 85px;
    
}

#songList {
    position: relative;
    width: 300px;
    left: 180px;
    top: 38px;
}
li {
    border:1px solid grey;
    background: white;
}
li:hover {
    background: grey;
    cursor: pointer;
}

#currentSong {
    position:relative;
    top:70px;
}

#timeline::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
}